<!--passing information from Parent(app) to Child component(card) -->
<!-- Using *ngFor to navigate to the list of posts -->
<app-card *ngFor = "let post of posts"
  [title] = post.title
  [details] = post.details>
</app-card>

<!-- Displaying post without *ngFor 
<app-card
  [title] = posts[0].title
  [details] = posts[0].details>
</app-card>
<app-card
  [title] = posts[1].title
  [details] = posts[1].details>
</app-card>
<app-card
  [title] = posts[2].title
  [details] = posts[2].details>
</app-card>
-->
